<header>
  <div id="top-header" class='p-0 bg-dark'>
    <div class="container py-2">
      <div class='clearfix'>
        <ul class="header-links float-start p-0">
          <li><a href="https://wa.me/628989218470"><i class="bi bi-telephone-outbound me-1 mb-1 text-primary"></i>
              +62-898-921-8470</a></li>
          <li><a href="#"><i class="bi bi-envelope me-1 mb-1 text-primary"></i>
              sandy.andryanto.blade&#64;gmail.com</a></li>
          <li><a href="#"><i class="bi bi-pin-map me-1 mb-1 text-primary"></i> West Java, Indonesia</a></li>
        </ul>
        <ul class="header-links float-end p-0 header-account">
          <li><a href="#"><i class="bi bi-currency-dollar me-1 mb-1 text-primary"></i> USD</a></li>
          <li><a [routerLink]="['/account/profile']"><i class="bi bi-person-plus me-1 mb-1 text-primary"></i> My
              Account</a></li>
          <li><a [routerLink]="['/auth/login']"><i class="bi bi-person-circle me-1 mb-1 text-primary"></i> Login</a>
          </li>
          <li><a [routerLink]="['/auth/register']"><i class="bi bi-person-fill-add me-1 mb-1 text-primary"></i>
              Register</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="header" class="bg-primary p-2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="header-logo">
            <a [routerLink]="['/']" class="logo">
              <img src="/logo.png" alt="logo" />
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="header-search mt-3">
            <div class="input-group">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="bi bi-cart me-1"></i>{{ filters[fliterSelected] }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem *ngFor="let filter of filters; index as i;" (click)="setFilter($event, i)">{{
                    filter }}</button>
                </div>
              </div>
              <input type="text" placeholder='Search here..' class="form-control"
                aria-label="Text input with dropdown button">
              <button class="btn bg-dark" type="button">
                <span class="text-white"><i class="bi bi-search mb-1 me-1"></i>Search</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <div class="position-relative">
              <a (click)="showModal($event, wishlist)" href="#" class="text-center text-decoration-none fw-bold">
                <i class="bi bi-heart mb-2"></i>
                <span class='d-block'>Your Wishlist</span>
              </a>
              <span class="position-absolute top-0 ms-3 start-50 translate-middle badge rounded-pill bg-danger">
                2
                <span class="visually-hidden">New Wishlist</span>
              </span>
            </div>
            <div class="position-relative">
              <a href="#" (click)="showModal($event, cart)" class="text-center text-decoration-none fw-bold">
                <i class="bi bi-cart mb-2"></i>
                <span class='d-block'>Your Cart</span>
              </a>
              <span class="position-absolute top-0 ms-3 start-50 translate-middle badge rounded-pill bg-danger">
                3
                <span class="visually-hidden">Your Cart</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #wishlist let-modal>
  <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">My Wishlist</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
  <div class="modal-body">
    <div class="row mb-2">
        <div class="col-md-4 text-center">
            <img src="https://5an9y4lf0n50.github.io/demo-images/demo-commerce/product01.png" class='img-thumbnail img-responsive' width="100" alt=""/>
        </div>
        <div class="col-md-8">
            <a href="#" class="text-decoration-none text-uppercase text-muted d-block">
                <strong>product name goes here</strong>
            </a>
            <h5>$980.00</h5>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 text-center">
            <img src="https://5an9y4lf0n50.github.io/demo-images/demo-commerce/product02.png" class='img-thumbnail img-responsive' width="100" alt=""/>
        </div>
        <div class="col-md-8">
            <a href="#" class="text-decoration-none text-uppercase text-muted d-block">
                <strong>product name goes here</strong>
            </a>
            <h5>$1960.00</h5>
        </div>
    </div>
  </div>
</ng-template>

<ng-template #cart let-modal>
  <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">My Cart</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-md-4 text-center">
          <img src="https://5an9y4lf0n50.github.io/demo-images/demo-commerce/product01.png" class='img-thumbnail img-responsive' width="100" alt=""/>
      </div>
      <div class="col-md-8">
          <a href="#" class="text-decoration-none text-uppercase text-muted d-block">
              <strong>product name goes here</strong>
          </a>
          <span class='d-block mb-2'>
              1 x <strong>$980.00</strong>
          </span>
          <h5>$980.00</h5>
      </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 text-center">
            <img src="https://5an9y4lf0n50.github.io/demo-images/demo-commerce/product02.png" class='img-thumbnail img-responsive' width="100" alt=""/>
        </div>
        <div class="col-md-8">
            <a href="#" class="text-decoration-none text-uppercase text-muted d-block">
                <strong>product name goes here</strong>
            </a>
            <span class='d-block mb-2'>
                2 x <strong>$980.00</strong>
            </span>
            <h5>$1960.00</h5>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 text-center">
            <img src="https://5an9y4lf0n50.github.io/demo-images/demo-commerce/product03.png" class='img-thumbnail img-responsive' width="100" alt=""/>
        </div>
        <div class="col-md-8">
            <a href="#" class="text-decoration-none text-uppercase text-muted d-block">
                <strong>product name goes here</strong>
            </a>
            <span class='d-block mb-2'>
                3 x <strong>$980.00</strong>
            </span>
            <h5>$2940.00</h5>
        </div>
    </div>
    <div class="cart-summary">
        <small>3 Item(s) selected</small>
        <h5>SUBTOTAL: $5880.00</h5>
    </div>
    <div class="cart-btns">
      <a href="#" (click)="redirectTo($event, '/cart')" class="text-decoration-none">View Cart <i class="bi bi-cart ms-1"></i></a>
      <a href="#" (click)="redirectTo($event, '/checkout')" class="text-decoration-none">Checkout <i class="bi bi-arrow-right-circle ms-1"></i></a>
    </div>
  </div>
</ng-template>